doctype html
html
    head
        title="Summit View"
        link(rel="stylesheet" href="/dist/styles/style.css")
        link(rel="stylesheet" href="/theme/style.css")
        script(src="/socket.io/socket.io.js")
    body
        #container.layer-1
            .panel-sizer
            each panel, index in panels
                .panel.is-loading(class="#{panel.id}" data-panel="#{panel.id}" data-panel-x="2" data-panel-y="2" tabindex="#{index}")
                    .content
                    if panel.branding
                        .loading(class="bg-#{panel.branding.color.background}")
                            div.text-center
                                if panel.branding && panel.branding.icon && panel.branding.icon.fa
                                    i.loading-icon.fa.fa-fw.fa-5x(class="fa-#{panel.branding.icon.fa} #{panel.branding.color.icon}")
                                div.message.ph4.pt2(class="#{panel.branding.color.text}")
                    .configure
                        .width
                            i.fa.fa-chevron-left(data-action="compress-width")
                            i.fa.fa-chevron-right(data-action="expand-width")
                        .height
                            i.fa.fa-chevron-up(data-action="compress-height")
                            i.fa.fa-chevron-down(data-action="expand-height")
        #settings-overlay.layer-2
            #settings-container.relative
                ul#settings-menu.absolute.stretch-h.layer--1.pt6
                    each panelSettings, key in settings
                        if panels[key].branding
                            li(class="bg-#{panels[key].branding.color.background}")
                                a.block.pa3(href="\##{[key]}-settings")
                                    i.loading-icon.fa.fa-fw.fa-3x(class="fa-#{panels[key].branding.icon.fa} #{panels[key].branding.color.icon}")
                        else
                            li(class="bg-dark-gray")
                                a.block.pa3(href="\##{[key]}-settings")
                                    i.loading-icon.fa.fa-fw.fa-3x(class="fa-cog clouds")
                each panelSettings, key in settings
                    - var bg = ( panels[key].branding ) ? 'bg-' + panels[key].branding.color.background : 'bg-dark-gray'
                    - var color = ( panels[key].branding ) ? panels[key].branding.color.text : 'clouds'
                    form.settings-panel.pa12(id="#{key}-settings" data-panel="#{key}" class="#{bg} #{color}")
                        div.text-center.mb12
                            if panels[key].branding
                                i.icon.fa.fa-fw.fa-5x(class="fa-#{panels[key].branding.icon.fa} #{panels[key].branding.color.icon}")
                                h3.mt4.
                                    #{key}
                            else
                                h3.
                                    #{key}
                        each setting in panelSettings.settings
                            if ['text', 'number'].indexOf(setting.type) > -1
                                div.setting.mb6
                                    label.block.mb2(for="#{setting.name}").
                                        #{setting.label}
                                    case setting.type
                                        when 'text'
                                        when 'number'
                                            input.block.pa3(type="#{setting.type}" name="#{setting.name}" value="#{setting.value}")
                                    if setting.instructions
                                        div.instructions.mt2.
                                            #{setting.instructions}
                        div.text-center
                            div.save-settings-control.button.mha.uc(data-save-settings-for="#{key}-settings").
                                Save
        #toolbar.layer-3
            div.toolbar-control(data-action="activate-settings-ui")
                i.fa.fa-cog.fa-2x
        script(src="/dist/js/app-bundle.js")
        script(data-main="/dist/js/main" src="/dist/js/vendor/require.min.js")
